body {
  font-size: 16px;
  color: #015249;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #77C9D4;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  height: 170px;
}
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 1px #222;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*margin-top: 0;
  margin-bottom: 0;
  line-height: .75;*/
}
.navbar-brand #Med {
	margin-left: 50px;
}
.navbar-brand #Pra {
	margin-left: 100px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

  /* Footer */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #fff;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#numbers {
	text-align: center;
}
#numbers span {
	font-weight: bold;
	text-decoration: underline;
}
#numbers p {
	font-size: 0.8em;
}
#contactInformation {
	text-align: center;
}
#contactInformation span {
	font-weight: bold;
	text-decoration: underline;
}
#contactInformation p {
	font-size: 0.8em;
}
#open6Days {
	text-align: center;
}
#open6Days span {
	font-weight: bold;
	text-decoration: underline;
}
#open6Days p {
	font-size: 0.8em;
}
#AGPAaccred {
	font-size: 0.8em;
}
#AGPAaccredImage {
	background: url('../images/AGPA.png') no-repeat;
	width: 100px;
  	height: 100px;
  	margin: 10px auto 10px;

}

  /* End Footer */

  /* Home Page */
#changable-content p {
  margin-bottom: 0;
}

#side-bar {
  	background-color: #fff;
  	border: 1px solid #015249;
  	border-radius: 4px;
  	padding: 10px;
  	text-align: center;
}

#side-bar a {
  	text-decoration: none;
  	color: #015249;
}
#side-bar ul {
  	margin-bottom: 0px;
}
#side-bar li {
	margin-bottom: 5px;
	padding: 5px;
}
#side-bar li:hover, .selected {
	color: #fff;
	border-radius: 4px;
	background-color: #015249;
}
#side-bar li:hover a{
	color: #fff;
}
#side-bar button {
  border: none;
  background-color: #fff;
  padding: 0px;
  width: 100%;
}
/* End Home Page */

/* History Page */

#history-description .picture {
  margin-bottom: 15px;
}

.picture {
  text-align: center;
  color: #fff;
  height: 170px;
  width: 140px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px #222;
}

#drCGC {
  background: url('../images/History/DrCharlesGoffreyChampion.png') no-repeat center;
}
#drAKS {
  background: url('../images/History/DrArthurKitchener-Smith.png') no-repeat center;
}
#drAC {
  background: url('../images/History/DrAllanChancellor.png') no-repeat center;
}
#drKP {
  background: url('../images/History/DrKenPaver.png') no-repeat center;
}
#drCB {
  background: url('../images/History/DrCedricBarrett.png') no-repeat center;
}
#drIH {
  background: url('../images/History/DrIanHamilton.png') no-repeat center;
}
#drRM {
  background: url('../images/History/DrRayMoldovan.png') no-repeat center;
}
#historyPic {
  background: url('../images/History/historyPic.png') no-repeat center;
/*  width: 190px;*/
  height: 130px;
}

.hoverScreen {
  height: 170px;
  width: 140px;
  background-color: #000000;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.hoverScreen:hover {
  opacity: 0.5;
  box-shadow: 10px 10px 10px #222;
}
.hoverScreen span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}



 /* End History Page */

 /* Links Page */

 #links a {
  text-decoration: none;
  color: #015249;

}

#links a:hover {
  text-decoration: none;
  background-color: #015249;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #fff;

}

 /* End Links Page */

 /**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #67b5d1;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    width: 300px;
  }
}
.c-menu--push-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;
}
.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}
.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}
.c-menu--push-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}
.c-menu--push-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}
.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

/*.o-wrapper.has-push-right {
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-right {
    transform: translateX(-300px);
  }
}*/


