body {
	font: 16px;
	color: #F8F8FF;
	background-color: #286DA8; 
	font-family: 'Oxygen', sans-serif;
}

h2 {
	text-shadow: 1px 1px 1px #222;
	padding-top: 20px;
	padding-bottom: 40px;
}

/** HEADER **/

#header-nav {
	background-color: #CD5360; 
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	margin: 10px 15px 10px 0px;
	padding: 0px 0px 80px 0px;
}
.navbar-brand h1 {
	color: #F8F8FF;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	padding-left: 30px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand a:hover h1, .navbar-brand a:focus h1 {
	color: #edc4c4;
}

#nav-list a {
	color: #F8F8FF;
}
#nav-list a:hover {
	color: #CD5360; 
	background: #F8F8FF;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #F8F8FF;
}
.navbar-header button.navbar-toggle {
	margin-top: 30px;
}
#collapsable-nav a {
	font-size: 1.2em;
}
#collapsable-nav a span {
	font-size: 1.2em;
	margin-right: 5px;
}

/** MAIN CONTENT **/
#main-content {
	width: 90%;
}
#menu-items div div {
	background: #438496;
	padding: 10px;
	margin-bottom:30px;
	border-radius: 10px;

}
#menu-items div div h3 {
	font-weight: bold;
}
#menu-items #backToTop {
	text-align: right;
	margin: 0px;
}
#backToTop a {
	color: #F8F8FF;
	font-style: italic;
}






