/* CSS declarations go here */

.user_avatar {
	min-height:100px;
	text-align: center;

}
.avatar_img {
	height:75px;
}
#message {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	width: 95%;
}
#message_input {
	width: 90%;
}
.floatMeRight {
	float: right;
}